@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
  }
  .button {
    font-size: xx-small;
  }
}
.button :hover {
  margin: 1vmax;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  outline: none;
  font-weight: 600;
  padding: 1.5vmin;
}
