{%extends 'base.html'%} {%load crispy_forms_tags%} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <title>Feedback</title>
  </head>

  <body>
    {%block content%}
    <div class="container-fluid">
      <div class="col-md-10 offset-1 mt-5">
        <div class="jumbotron">
          <h1 class="display-4">Feedback</h1>
          <p class="lead font-italic">
            Share your feedback on government work in your area
          </p>
          <hr class="my-4" />
          <form action="" method="post" autocomplete="off">
            {%csrf_token%} {{form.problem|as_crispy_field}}
            <div class="row">
              <div class="col-md-8">{{form.location|as_crispy_field}}</div>
              <div class="col-md-4">{{form.pincode|as_crispy_field}}</div>
            </div>

            {{form.feedback|as_crispy_field}}
            <div class="row">
              <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg">
                  Submit
                </button>
              </div>
              <div class="col-md-4">
                <a
                  href="{% url 'feedback_list'%}"
                  class="btn btn-secondary btn-block btn-lg"
                >
                  Back to list
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {%endblock%}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
