{%extends 'base.html'%} {%load crispy_forms_tags%} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <title>Feedback</title>
  </head>

  <body>
    {%block content%}
    <div class="container-fluid">
      <div class="col-md-10 offset-1 mt-5">
        <div class="jumbotron">
          <h1 class="display-4">Feedback list</h1>
          <hr class="my-4" />
          <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
              <tr>
                <td>Problem</td>
                <td>Location</td>
                <td>Pincode</td>
                <td>Feedback</td>
                <td>
                  <a
                    href="{% url 'Insert_feedback'%}"
                    class="btn btn-success btn-lg"
                  >
                    Add New
                  </a>
                </td>
              </tr>
            </thead>
            <tbody>
              {% for Feedback in feedback_list %}
              <tr>
                <td>{{Feedback.problem}}</td>
                <td>{{Feedback.location}}</td>
                <td>{{Feedback.pincode}}</td>
                <td>{{Feedback.feedback}}</td>
                <td>
                      <a href="{% url 'Update_feedback' Feedback.id%}" class="btn btn-secondary"> Edit </a>
                    </div>
                    <form action="{% url 'Delete_feedback' Feedback.id%}" class="d-inline" method="post">
                      {%csrf_token%}
                      <button type="submit" class="btn btn-danger"> Delete </button>
                    </form>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {%endblock%}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
