{%extends 'base.html'%} {%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link href="{%static 'home.css'%}" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>iAssist</title>
</head>

<body background="cyan">
  {%block content%}
  <div class="container-fluid">
    <div class="home">
      <!-- <div class="container-fluid"> -->
      <br>
      <br>
      <div class="row">
        <div class="col-sm-5">
          <div class="problems" style="display: block; background-color:rgb(114, 230, 114)">
            <h3 style="display:list-item;">Frequently Registered Complaints</h3>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="col-sm-2">
          <ul>
            <li>
              <a href="complaints" class="zoom">
                <img src="{%static 'hp2.png'%}" height="120px" width="120px" />
              </a>
            </li>
          </ul>
          <br />
          <h4 style="display: block; background-color:rgb(243, 120, 71); color:white; text-align:center
        ;width:max-content;
        margin:0px 0px 0px 10px;
        padding:8px">Hospital</h4>
        </div>
        <div class="col-sm-2 ">
          <ul>
            <li>
              <a href="complaints" class="zoom">
                <img src="{%static 'gbg1.png'%}" height="120px" width="120px" />
              </a>
            </li>
          </ul>
          <br />
          <h4 style="display: block; background-color:rgb(243, 120, 71); color:white; text-align:center
        ;width:max-content;
        margin:0px 0px 0px 10px;
        padding:8px">Garbage</h4>
        </div>
        <div class="col-sm-2">
          <ul>
            <li>
              <a href="complaints" class="zoom">
                <img src="{%static 'rd1.png'%}" height="120px" width="120px" />
              </a>
            </li>
          </ul>
          <br />
          <h4 style="display: block; background-color:rgb(243, 120, 71); color:white; text-align:center
        ;width:max-content;
        margin:0px 0px 0px 25px;
        padding:8px">Road</h4>
        </div>
      </div>
      <br />
      <div class="row"><br /></div>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <ul>
            <li>
              <a href="complaints" class="zoom">
                <img src="{%static 'wt1.png'%}" height="120px" width="120px" />
              </a>
            </li>
          </ul>
          <br />
          <h4 style="display: block; background-color:rgb(243, 120, 71); color:white; text-align:center
        ;width:max-content;
        margin:0px 0px 0px 20px;
        padding:8px"">Water</h4>
      </div>
      <div class=" col-sm-2">
            <ul>
              <li>
                <a href="complaints" class="zoom">
                  <img src="{%static 'el1.png'%}" height="120px" width="120px" />
                </a>
              </li>
            </ul>
            <br />
            <h4 style="display: block; background-color:rgb(243, 120, 71); color:white; text-align:center
        ;width:max-content;
        margin:0px 0px 0px 10px;
        padding:8px"">Electricity</h4>
      </div>
      <div class=" col-sm-2">
              <ul>
                <li>
                  <a href="complaints" class="zoom">
                    <img src="{%static 'ed1.png'%}" height="120px" width="120px" />
                  </a>
                </li>
              </ul>
              <br />
              <h4 style="display: block; background-color:rgb(243, 120, 71); color:white; text-align:center
        ;width:max-content;
        margin:0px 0px 0px 10px;
        padding:8px"">Education</h4>
      </div>
      <!-- </div> -->
    </div>
    <div class=" row">
                <br />
                <br />
                <br />
        </div>
      </div>
      <div class="counter">
        <div class="container">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="customer">
                <p class="counter-count">1702</p>
                <p class="customer-p">complaints</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="design">
                <p class="counter-count">1050</p>
                <p class="design-p">Solved</p>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
              <div class="order">
                <p class="counter-count">652</p>
                <p class="order-p">Pending</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
    <script src="{% static 'home.js'%}"></script>

    {% endblock %}
</body>

</html>