{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Markers</title>
    {% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      function initMap() {
        const myLatLng =  {lat:Number({{latitude}}),lng:Number({{longitude}})};
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 19,
          center: myLatLng,
        });
        $(function() {
          var icon = {
            url: "{% static 'icon3.png' %}", // url
            scaledSize: new google.maps.Size(50, 50), // scaled size
            origin: new google.maps.Point(0,0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };
        
            var marker = new google.maps.Marker({
            position: {lat:Number({{latitude}}),lng:Number({{longitude}})},
            map,
            animation: google.maps.Animation.DROP,
            title: "Complaint Id : {{complaint.id}} \n Problem Facing : {{complaint.problem}}\n Problem Description : {{complaint.desciption}} ",
            icon:icon,
           
          });
          
          var image_str = "/media/{{complaint.image}}"
          marker.info = new google.maps.InfoWindow({
            content: '<div id="content">' +
              '<div id="siteNotice">' +
              "</div>" +
              '<h1 id="firstHeading" class="firstHeading"> {{complaint.problem}} complaint</h1>' +
              '<div id="bodyContent">' +
              "<p>{{complaint.desciption}}</p>" +
              '<img src="/media/{{complaint.image}}" height="250px" width="250px" style="border: 5px solid black;">'+'<br>'+
              '<p>See full complaint <a href="/complaints/view_complaint/{{complaint.id}}/">' +
              "here</a><br><br>" +
              "powered by <b>iAssist</b>" +
              "</div>" +
              "</div>",
          });
          google.maps.event.addListener(marker, 'click', function() {
            this.info.open(map, this);
          });
       
       
        

      });
      

    }
    </script>
  </head>
  <body>
      
    <div class="p-4"></div>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS-d5dC7YyDDgubxhMAf9178mkADgmnYQ&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
  {% endblock %}

</html>